header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    padding-right: 25px;
    height: 48px;
    width: 48px;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login:hover {
    transform: scale(1.5);
    transform-origin: center center;
}

.catalog-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.catalog-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.catalog-item {
    opacity: 0;
    width: 45%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 500px;
    margin: 20px;
}

.catalog-item img#cover {
    max-width: 100%;
    max-height: 100%;
    --s: 10px;
    padding: var(--s);
    outline: 2px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
    transition: transform 0.5s ease-in-out;
}

.item-info {
    width: 70%;
    text-align: start;
    padding-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.observer-element {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.observer-element.show {
    opacity: 1;
}

#book, #manage {
    font-weight: bold;
    width: 300px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#page {
    width: 50px;
}

.pagination {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    transition: transform 0.2s ease-in-out;
}

.arrow:hover {
    transform: scale(1.5);
    transform-origin: center center;
    cursor: pointer;
}

.index {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
}

.index:hover {
    background-color: var(--mdc-theme-primary);
    cursor: pointer;
}

.selected {
    background-color: var(--mdc-theme-primary);
    transform: scale(1.5);
}

.no-products {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    height: 300px;
}

.toggle-btn {
    height: 30px;
    width: 30px;
    transition-delay: 0;
    transition: all 0.5s;
}

.toggle-btn:hover {
    cursor: pointer;
}

.rotated {
    transform: rotate(180deg);
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}

.display-info .content {
    max-height: 0;
    transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.display-info.active .content {
    max-height: 500px;
    transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.display-info {
    margin-top: 20px;
    width: 450px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*background-color: rgba(224, 222, 222, 0.407);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/
}

.info-text {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    font-weight: bold;
}

.info-text:hover {
    cursor: pointer;
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-item img {
    margin-right: 5px;
}

.info-item b {
    margin-left: 5px;
}

.item-title {
    font-size: 4em;
}

.item-autors {
    font-size: 1.9em;
}

.item-autors b {
    font-size: 1em;
}

.item-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.item-rating img {
    height: 32px;
    width: 32px;
}

.already-booked {
    font-size: 1.5em;
}

.already-booked img {
    vertical-align: middle;
}

.a {
    display: flex;
    align-items: center;
}

.filters-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.filters {
    display: flex;


    align-items: center;
    justify-content: space-evenly;
    width: 450px;

}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(241, 241, 241);
    user-select: none;
}

.filter:hover {
    cursor: pointer;
}

.filter-books {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.filter-encyclopedia {
    border-right: 0;
    border-left: 0;
}

.filter-maps {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.active-filter {
    background-color: var(--mdc-theme-primary);
}