.main-container {
    width: 100%;
    display: flex;
    height: 1500px;
    flex-direction: column;
    align-items: center;
}

.product-container {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    margin: 50px;
}

h1.title {
    font-size: 5em;
}

.product-container img {
    max-width: 100%;
    max-height: 100%;

    --s: 10px;
    padding: var(--s);
    outline: 2px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
    transition: transform 0.5s ease-in-out;
}

.product-title {
    font-size: 5em;
}

.autor {
    font-size: 3em;
}

.bookings-container {
    width: 80%;
    display: flex;
    justify-content: center;
    max-height: 500px;
    overflow-y: auto;
    margin-top: 50px;
}

.info-div {
    margin-left: 50px;
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 30px;
    border-collapse: collapse;
}

thead {
    margin-bottom: 50px;
}

td {
    text-align: center;
}

thead th {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

tbody td {
    padding: 20px;
}

button {
    z-index: 1;
}