html {
    height: 4000px;
}

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.title,
.desc,
.title-divider,
#arrow-down {
    margin: 0;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.title {
    font-size: 14em;
    margin: -30px;
}

.desc {
    font-size: 3em;
    animation-delay: 2s;
}

.title-divider {
    height: 2px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(90deg, white, black, white);
    animation-delay: 2s;
}

#arrow-down {
    animation-delay: 2s;
}

#arrow-down:hover {
    cursor: pointer;
}

.observer-element {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.observer-element.show {
    opacity: 1;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    width: 50%;
    height: 350px;
    font-size: 5em;
}

.right {
    align-self: flex-end;
}

.left {
    align-self: flex-start;
}

.go-container {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/go.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(4px);
    z-index: -1;
    transform: scale(1.04);
}

.go {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 4em;
    color: white;
}

#catalog {
    margin-top: 20px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}

.divider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-divider {
    height: 2px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(90deg, white, black, white);
}

#map {
    padding: 20px;
    width: 60%;
    height: 500px;
}

.map-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.map-info {
    padding: 20px;
    width: 30%;
    height: 500px;
}

.map-info h1 {
    font-size: 4em;
}

.map-info p {
    font-size: 2.2em;
    font-weight: 5%;
}

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.go h1,
.go h4 {
    text-shadow: 0 0 15px black
}